* {
	font-weight: 200;
	letter-spacing: 1px;
}
body {
	padding-top: 80px;
}
h3 {
	margin: 0;
}
.color-white {
	color: #e3e3e3;
}
.img-center {
	margin: 0 auto;
}
.navbar{
	min-height: 80px;
	border-radius: 0;
	margin-bottom: 0;
	border-bottom: solid 6px #FFB6C1;
	box-shadow: 0 2px 10px 0 #818181;
}
.navbar-brand{
	padding: 0 15px;
	height: 80px;
	line-height: 80px;
}

.navbar-brand img{
	margin-top: 10px;
	max-width: 150px;
}
.navbar-toggle{
	margin-top: 23px;
	padding: 9px 10px !important;
}

.jumbotron {
	background-image: url(../img/crystal-gold-glitter-eye-makeup-tutorial.jpg);
	background-size: cover;
	height: 650px;
	position: relative;
}


.jumbotron img{
	margin-top: 100px;
	position: 40px;
}

.jumbotron p{
	font-family: Edwardian Script ITC;
	color: #83082d;
	font-size: 3em;
	margin-bottom: 10px;
}



.item img{
	width: 1400px ;
	height: 500px !important; 
}


@media (min-width: 768px){
	.navbar-nav > li > a {
		padding-top: 26.5px;
		padding-bottom: 26.5px;
		line-height: 27px;
		font-weight: 400;
		font-family: Viner Hand ITC;
		letter-spacing: 2px;
	}
}
h1.title {
	text-align: center;
	font-size: 3em;
	font-weight: 300;
	font-family: Old English Text MT;
	margin: 0;
	margin-bottom: 10px;
	letter-spacing: 5px;
}
#about {
	background: #FFB6C1;
	color: #000000;
}
#about img{
	float: right;
	width: 100%;
	height: 250px;
	margin-top: 8px;
	margin-right: 200px;
}

#about {
	margin-bottom: -50px;
	margin-top: -30px;
	padding: 50px 0;
}

hr{
	margin-bottom: 30px;
	width: 800px;
	border-bottom: 6px solid;
	color: white

}


footer{
	padding: 7px 0;
	background: #f2d1e5;
	color: #000000;
	font-weight: 500; 
}
@media only screen and (max-width: 640px){
	.box-portfolio{
		margin-bottom: 20px;
		height: 20px;
		width: 30px;
	}
	#about img {
		margin-bottom: 20px;
	}
	#about {
		padding: 30px 0;
	}
}
#text1{
	margin-left: 200px;
	font-size: 1em;
	text-align: justify;
	font-family: Times New Roman;
} 

#text2{
	margin-bottom: 90px;
	margin-left: 200px;
	font-size: 1em;
	text-align: justify;
	font-family: Times New Roman;
} 


.menu: visited{
	background: #4e28f6 ;
	color: #000000;
}
